{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "ie >= 9", "safari >= 7"],
          "node": "0.12.7"
        },
        "modules": "commonjs"
      }
    ],
    "react"
  ],
  "plugins": [
    "add-module-exports",
    "transform-es2015-modules-commonjs",
    "transform-object-rest-spread"
  ]
}
